body {
    font-family: "cabin", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
}

body .ui-inputfield {
    color: #212121;
    font-size: 14px;
    background: #f5f5f5;
    padding: 0.429em;
    border: 1px solid #E0E0E0;
    outline: 0 none;
    -moz-transition: border-color 0.3s, box-shadow 0.3s;
    -o-transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-transition: border-color 0.3s, box-shadow 0.3s;
    transition: border-color 0.3s, box-shadow 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
body .ui-button.ui-button-text-only .ui-button-text {
    padding: 0.429em 1em;
}
.ui-button-text-only .ui-button-text {
    padding: .3em 1em;
}
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body .ui-button.ui-state-hover {
    background-color: #1976D2;
    border-color: #1976D2;
    color: #ffffff;
}
body .ui-button {
    background-color: #2196F3;
    color: #ffffff;
    border: 1px solid #2196F3;
    font-size: 14px;
    margin: 0;
    outline: 0 none;
    -moz-transition: background-color 0.3s, box-shadow 0.3s;
    -o-transition: background-color 0.3s, box-shadow 0.3s;
    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-body .login-content {
    position: fixed;
    padding: 80px 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}


.login-body {
  padding: 0;
  margin: 0; }
  .login-body .login-panel {
    display: none; }
  .login-body .login-content {
    position: fixed;
    padding: 80px 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center; }
    .login-body .login-content img {
      display: inline-block;
      margin-bottom: 160px;
      width: 200px; }
    .login-body .login-content h1 {
      font-size: 28px;
      font-weight: 500;
      margin: 14px 0;
      color: #212121; }
      .login-body .login-content h1 span {
        color: #727272; }
    .login-body .login-content p {
      font-size: 17px;
      color: #727272;
      margin: 0 0 32px 0; }
    .login-body .login-content .login-input-wrapper {
      position: relative;
      width: 300px;
      margin-bottom: 24px;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
      .login-body .login-content .login-input-wrapper input {
        width: 100%;
        padding-right: 16px; }
      .login-body .login-content .login-input-wrapper i {
        position: absolute;
        color: #727272;
        font-size: 16px;
        top: 50%;
        right: .429em;
        margin-top: -8px; }
    .login-body .login-content button {
      min-width: 150px; }

@media screen and (min-width: 768px) {
  .login-body {
    background: url("#{resource['images/bg-login.jpg']}");
    background-size: cover; }
    .login-body .login-panel {
      padding: 80px;
      display: block;
      position: fixed;
      background-color: #ffffff;
      height: 200%;
      width: 100%;
      left: -50%;
      top: -50%;
      opacity: 0.95;
      filter: alpha(opacity=95);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .login-body .login-content {
      text-align: left;
      position: fixed;
      padding: 80px 0 0 80px; }
      .login-body .login-content .login-input-wrapper {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
        text-align: left; } }
        
        
        
        
        
.login-body .login-content .login-input-wrapper input {
    width: 100%;
    padding-right: 16px;
}
